<%= simple_form_for [:admin,@page] do |f| %>
  <%= f.association:parent_page, :collection => @pages %>
  <%= f.input :template, :collection => @files %>
  <%= f.association :page_template %>
  <%= f.input :is_visible %>
  <%= f.input :label %>
  <%= f.input :name %>

  <ul class="accordion">
      <%= f.simple_fields_for :page_elements do |pe| %>
          <li>
            <div class="title">
              <h5>
                <%= pe.object.class.class_name %>
                <%= ": #{pe.object.name}" unless pe.object.name.blank? %>
              </h5>
            </div>
            <div class="content">
              <%= pe.input :position %>
                <%= case pe.object.class.to_s
                  render partial: pe.object.admin_render, locals: {pe:pe}
                end %>
            </div>
          </li>
      <% end %>
  </ul>

  <%= f.button :submit %>
<% end %>