<%= simple_form_for [:admin,@page] do |f| %>
  <%= f.input :name %>
  <%= f.input :label %>
  <%= f.input :is_visible %>
  <%= f.association:parent_page, :collection => @pages %>
  <%= f.association :page_template %>

  <%= f.simple_fields_for :page_elements do |pe| %>
    <%= field_set_tag  pe.object.class.class_name do %>
      <%# pe.input :name %>
      <%= pe.input :position %>
      <%= case pe.object.class.to_s
        when BigosApp::TextBlockElement.to_s
           pe.simple_fields_for :text_block do |tb|
             render partial: "bigos_app/admin/text_blocks/form", locals: {tb:tb}
           end
        when BigosApp::GalleryElement.to_s
          pe.simple_fields_for :gallery do |g|
            render partial: "bigos_app/admin/galleries/form", locals: {g:g}
          end
        else
         raw "<h3>CLASS ERROR</h3>"
      end %>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<% end %>