<% if current_admin_user.is_superadmin? %>
  <%= link_to "Add new page&rarr;", new_admin_page_path, class: "secondary button" %>
<% end %>
<ul class="nav-bar vertical">
<% @pages.all.each do |page| %>
  <li class="<%= page.subpages.length > 0 ? 'has-flyout' : '' %>">
    <%= link_to page.name || page.label, admin_page_path(page) %>
    <% if page.subpages.length > 0  %>
        <%= link_to("#", :class=>"flyout-toggle") do %>
            <span></span>
        <% end %>
        <ul class="flyout">
            <% page.subpages.all.each do |page| %>
                <li>
                <%= link_to page.name || page.label, admin_page_path(page) %>
                </li>
            <% end %>
        </ul>
    <% end %>
  </li>
<% end %>
</ul>
